[Unit]
Description=Run blargbot as syretia user at startup
After=network.target

[Service]
Type=simple
User=syretia
ExecStartPre=/bin/sleep 30
ExecStart=/usr/local/bin/node /home/syretia/git/blargbot/index.js
WorkingDirectory=/home/syretia/git/blargbot
Restart=always

[Install]
WantedBy=default.target
