{
  "swagger": "2.0",
  "info": {
    "description": "Syretia's API for things and such. All endpoints have a 60 second timeout limit.  Uses [webhookd](https://github.com/ncarlier/webhookd) as the backend server.  Base path for all endpoints is `/api/v1`.",
    "version": "2024.04.30",
    "title": "Syretia.xyz",
    "contact": {
      "name": "Syretia",
      "url": "https://syretia.xyz/w/"
    },
    "license": {
      "name": "MIT",
      "url": "https://www.mit.edu/~amini/LICENSE.md"
    }
  },
  "externalDocs": {
    "description": "GitHub",
    "url": "https://github.com/simoniz0r/syretia.cf"
  },
  "host": "syretia.xyz/api/v1",
  "paths": {
    "/convert": {
      "get": {
        "tags": [
          "api/v1"
        ],
        "summary": "convert",
        "description": "Converts a 'url' 'from' a given format 'to' another",
        "externalDocs": {
          "description": "Source Code",
          "url": "https://github.com/simoniz0r/syretia.cf/blob/main/scripts/api/v1/convert.sh"
        },
        "operationId": "convert",
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -s 'https://syretia.xyz/api/v1/convert?from=xml&to=json&url=https%3A%2F%2Fwww.w3schools.com%2Fxml%2Fnote.xml'"
          }
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Format to convert from.  Must be either `json`, `yaml`, `toml`, `xml`, or `csv`.",
            "required": true,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Format to convert to.  Must be either `json`, `yaml`, `toml`, `xml`, or `csv`.",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "URI encoded URL to a document",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "​ ​",
            "examples": {
              "text/plain (request timed out)": "error: signal: killed",
              "application/json": {
                "note": {
                  "to": "Tove",
                  "from": "Jani",
                  "heading": "Reminder",
                  "body": "Don't forget me this weekend!"
                }
              }
            },
            "schema": {
              "type": "application/json"
            }
          }
        }
      }
    },
    "/xml2json": {
      "get": {
        "tags": [
          "api/v1"
        ],
        "summary": "xml2json",
        "description": "Converts a 'url' containing an XML document to JSON",
        "externalDocs": {
          "description": "Source Code",
          "url": "https://github.com/simoniz0r/syretia.cf/blob/main/scripts/api/v1/xml2json.sh"
        },
        "operationId": "xml2json",
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -s 'https://syretia.xyz/api/v1/xml2json?url=https%3A%2F%2Fwww.w3schools.com%2Fxml%2Fnote.xml'"
          }
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "URI encoded URL to an XML document",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "​ ​",
            "examples": {
              "text/plain (request timed out)": "error: signal: killed",
              "application/json": {
                "note": {
                  "to": "Tove",
                  "from": "Jani",
                  "heading": "Reminder",
                  "body": "Don't forget me this weekend!"
                }
              }
            },
            "schema": {
              "type": "application/json"
            }
          }
        }
      }
    },
    "/pkgs/debian": {
      "get": {
        "tags": [
          "api/v1"
        ],
        "summary": "debian",
        "description": "Returns package search results from Debian's package site in JSON format",
        "externalDocs": {
          "description": "Source Code",
          "url": "https://github.com/simoniz0r/syretia.cf/blob/main/scripts/api/v1/pkgs/debian.sh"
        },
        "operationId": "debian",
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -s 'https://syretia.xyz/api/v1/pkgs/debian?query=jq&release=bookworm'"
          }
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Package name to search for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "release",
            "in": "query",
            "description": "Release to search in.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "​ ​",
            "examples": {
              "text/plain (request timed out)": "error: signal: killed",
              "application/json": {
                "name": "jq",
                "description": "lightweight and flexible command-line JSON processor",
                "info": "Debian,  bookworm, us, main, utils, 1.6-2.1",
                "author": "Debian Webmaster, webmaster@debian.org"
              }
            },
            "schema": {
              "type": "application/json"
            }
          }
        }
      }
    },
    "/pkgs/opensuse": {
      "get": {
        "tags": [
          "api/v1"
        ],
        "summary": "opensuse",
        "description": "Returns package search results from openSUSE's API in JSON format",
        "externalDocs": {
          "description": "Source Code",
          "url": "https://github.com/simoniz0r/syretia.cf/blob/main/scripts/api/v1/pkgs/opensuse.sh"
        },
        "operationId": "opensuse",
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -s 'https://syretia.xyz/api/v1/pkgs/opensuse?query=jq'"
          }
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Package name to search for.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "​ ​",
            "examples": {
              "text/plain (request timed out)": "error: signal: killed",
              "application/json": {
                "@name": "jq",
                "@project": "openSUSE:Factory",
                "@package": "jq",
                "@repository": "standard",
                "@version": "1.7.1",
                "@release": "1.3",
                "@arch": "x86_64",
                "@filename": "jq-1.7.1-1.3.x86_64.rpm",
                "@filepath": "openSUSE:/Factory/standard/x86_64/jq-1.7.1-1.3.x86_64.rpm",
                "@baseproject": "openSUSE:Factory",
                "@type": "rpm"
              }
            },
            "schema": {
              "type": "application/json"
            }
          }
        }
      }
    },
    "/pkgs/ubuntu": {
      "get": {
        "tags": [
          "api/v1"
        ],
        "summary": "ubuntu",
        "description": "Returns package search results from Ubuntu's package site in JSON format",
        "externalDocs": {
          "description": "Source Code",
          "url": "https://github.com/simoniz0r/syretia.cf/blob/main/scripts/api/v1/pkgs/ubuntu.sh"
        },
        "operationId": "ubuntu",
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -s 'https://syretia.xyz/api/v1/pkgs/ubuntu?query=jq&release=noble'"
          }
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Package name to search for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "release",
            "in": "query",
            "description": "Release to search in.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "​ ​",
            "examples": {
              "text/plain (request timed out)": "error: signal: killed",
              "application/json": {
                "name": "jq",
                "description": "lightweight and flexible command-line JSON processor",
                "info": "Ubuntu,  noble, us, main, utils, 1.7.1-3build1",
                "author": "Rhonda D&#39;Vine, rhonda@ubuntu.com"
              }
            },
            "schema": {
              "type": "application/json"
            }
          }
        }
      }
    }
  }
}
