{
  "swagger": "2.0",
  "info": {
    "description": "Syretia's API for things and such. All endpoints have a 60 second timeout limit.  Uses [webhookd](https://github.com/ncarlier/webhookd) as the backend server.",
    "version": "2024.04.30",
    "title": "Syretia.xyz",
    "contact": {
      "name": "Syretia",
      "url": "https://syretia.xyz"
    },
    "license": {
      "name": "MIT",
      "url": "https://www.mit.edu/~amini/LICENSE.md"
    }
  },
  "externalDocs": {
    "description": "GitHub",
    "url": "https://github.com/simoniz0r/syretia.cf"
  },
  "host": "syretia.xyz",
  "paths": {
    "/xml2json": {
      "get": {
        "tags": [
          "API"
        ],
        "summary": "xml2json",
        "description": "Converts a 'url' containing an XML document to JSON",
        "externalDocs": {
          "description": "Source Code",
          "url": "https://github.com/simoniz0r/syretia.cf/blob/main/scripts/xml2json.sh"
        },
        "operationId": "xml2json",
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -s 'https://syretia.xyz/xml2json?url=https%3A%2F%2Fwww.w3schools.com%2Fxml%2Fnote.xml'"
          }
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "URI encoded URL to an XML document",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "​ ​",
            "examples": {
              "text/plain (request timed out)": "error: signal: killed",
              "application/json": {
                "note": {
                  "to": "Tove",
                  "from": "Jani",
                  "heading": "Reminder",
                  "body": "Don't forget me this weekend!"
                }
              }
            },
            "schema": {
              "type": "application/json"
            }
          }
        }
      }
    }
  }
}
