{
    "swagger": "2.0",
    "info": {
      "description": "Syretia's API for things and such",
      "version": "2022.01.06",
      "title": "Syretia.cf",
      "license": {
        "name": "MIT",
        "url": "https://www.mit.edu/~amini/LICENSE.md"
      }
    },
    "host": "syretia.cf",
    "paths": {
      "/phish": {
        "post": {
          "tags": [
            "POST"
          ],
          "summary": "phish",
          "description": "Uses phish.sinking.yachts, phisherman.gg, and Google Safe Browsing to check if the 'url' input is a phishing URL.",
          "operationId": "phish",
          "x-codeSamples": [{ "lang": "Shell", "source": "curl -sX POST 'https://syretia.cf/phish?url=https%3A%2F%2Ftestsafebrowsing.appspot.com&info=false'"}],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "url",
              "in": "query",
              "description": "URI encoded URL to scan",
              "required": true,
              "type": "string"
            },
            {
              "name": "info",
              "in": "query",
              "description": "Grab info about a domain from uriscan.io and exit without running checks",
              "required": false,
              "type": "boolean",
              "default": false
            }
          ],
          "responses": {
            "200": {
              "description": "​ ​",
              "schema": {
                "$ref": "#/definitions/phish_response_200"
              }
            }
          }
        }
      },
      "/status": {
        "post": {
          "tags": [
            "POST"
          ],
          "summary": "status",
          "description": "Returns the HTTP status for a given 'url'",
          "operationId": "status",
          "x-codeSamples": [{ "lang": "Shell", "source": "curl -sX POST 'https://syretia.cf/status?url=https%3A%2F%2Fgithub.com'"}],
          "produces": [
            "plain/text"
          ],
          "parameters": [
            {
              "name": "url",
              "in": "query",
              "description": "URI encoded URL to get HTTP status for",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "​ ​",
              "schema": {
                "type":"string",
                "example":"https%3A%2F%2Fgithub.com"
              }
            }
          }
        }
      }
    },
    "definitions": {
      "phish_response_200": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string",
            "example": "testsafebrowsing.appspot.com"
          },
          "error": {
            "type": "string"
          },
          "phish": {
            "type": "boolean",
            "example": true
          },
          "redirect": {
            "type": "boolean",
            "example": false
          },
          "source": {
            "type": "string",
            "example": "Google Safe Browsing"
          },
          "url": {
            "type": "string",
            "example": "https://testsafebrowsing.com"
          }
        }
      }
    }
  }