{
    "swagger": "2.0",
    "info": {
      "description": "Syretia's API for things and such.\nAll endpoints have a 10 second timeout limit. 'GET' requests can also be used, but the data will be returned in Server-sent events format.  'POST' returns chunked data.",
      "version": "2022.01.06",
      "title": "Syretia.cf",
      "x-logo": {
        "backgroundColor": "#010109",
        "href": "https://syretia.cf/docs",
        "url": "https://sy.imgix.net/iRWfZH_syretiacf.png"
      },
      "contact": {
        "name": "Syretia",
        "url": "https://syretia.cf"
      },
      "license": {
        "name": "MIT",
        "url": "https://www.mit.edu/~amini/LICENSE.md"
      }
    },
    "externalDocs": {
      "description": "GitHub",
      "url": "https://github.com/simoniz0r/syretia.cf"
    },
    "host": "syretia.cf",
    "paths": {
      "/phish": {
        "post": {
          "tags": [
            "POST"
          ],
          "summary": "phish",
          "description": "Uses phish.sinking.yachts, phisherman.gg, and Google Safe Browsing to check if the 'url' input is a phishing URL.",
          "operationId": "phish",
          "x-codeSamples": [{ "lang": "Shell", "source": "curl -sX POST 'https://syretia.cf/phish?url=https%3A%2F%2Ftestsafebrowsing.appspot.com&info=false'"}],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "url",
              "in": "query",
              "description": "URI encoded URL to scan",
              "required": true,
              "type": "string"
            },
            {
              "name": "info",
              "in": "query",
              "description": "Grab info about a domain from uriscan.io and exit without running checks",
              "required": false,
              "type": "boolean",
              "default": false
            }
          ],
          "responses": {
            "200": {
              "description": "​ ​",
              "examples": {
                "text/plain (request timed out)": "error: signal: killed",
                "application/json": {
                  "domain": "testsafebrowsing.appspot.com",
                  "error": null,
                  "phish": true,
                  "redirect": false,
                  "source": "Google Safe Browsing",
                  "url": "https://testsafebrowsing.appspot.com"
                }
              },
              "schema": {
                "$ref": "#/definitions/phish_response_200"
              }
            }
          }
        }
      },
      "/status": {
        "post": {
          "tags": [
            "POST"
          ],
          "summary": "status",
          "description": "Returns the HTTP status for a given 'url'",
          "operationId": "status",
          "x-codeSamples": [{ "lang": "Shell", "source": "curl -sX POST 'https://syretia.cf/status?url=https%3A%2F%2Fgithub.com'"}],
          "produces": [
            "text/plain"
          ],
          "parameters": [
            {
              "name": "url",
              "in": "query",
              "description": "URI encoded URL to get HTTP status for",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "​ ​",
              "examples": {
                "text/plain": "HTTP/2 200",
                "text/plain (request timed out)": "error: signal: killed"
              },
              "schema": {
                "type": "text/plain"
              }
            }
          }
        }
      },
      "/xml2json": {
        "post": {
          "tags": [
            "POST"
          ],
          "summary": "xml2json",
          "description": "Converts a 'url' containing an XML document to JSON",
          "operationId": "xml2json",
          "x-codeSamples": [{ "lang": "Shell", "source": "curl -sX POST 'https://syretia.cf/xml2json?url=https%3A%2F%2Fwww.w3schools.com%2Fxml%2Fnote.xml'"}],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "url",
              "in": "query",
              "description": "URI encoded URL to an XML document",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "​ ​",
              "examples": {
                "text/plain (request timed out)": "error: signal: killed",
                "application/json": {
                  "note": {
                    "to": "Tove",
                    "from": "Jani",
                    "heading": "Reminder",
                    "body": "Don't forget me this weekend!"
                  }
                }
              },
              "schema": {
                "type": "application/json"
              }
            }
          }
        }
      }
    },
    "definitions": {
      "phish_response_200": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string",
            "example": "testsafebrowsing.appspot.com"
          },
          "error": {
            "type": "string"
          },
          "phish": {
            "type": "boolean",
            "example": true
          },
          "redirect": {
            "type": "boolean",
            "example": false
          },
          "source": {
            "type": "string",
            "example": "Google Safe Browsing"
          },
          "url": {
            "type": "string",
            "example": "https://testsafebrowsing.appspot.com"
          }
        }
      }
    }
  }